body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
}

h1 {
    margin-top: 10px;
    font-size: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 18px;
}

.navbar-brand svg {
    margin-right: 10px;
}

button.btn {
    font-size: 14px;
    margin-right: 10px;
}

button.btn svg {
    margin-right: 10px;
}

#main {
    padding: 10px;
}

#status-table {
    /*max-width: 600px;*/
}

#status-table td {
    padding: 5px;
}

#status-table td:first-child {
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
    vertical-align: center;
}

#module-progress {
    transition: width .1s;
}

.table {
    font-size: 12px;
}

table th {
    text-align: center;
}

table td.number {
    text-align: right;
}

#results-table th {
    vertical-align: middle;
}

#results-csv {
    display: none;
}

.example-document-stats {
    padding: 5px 10px;
    font-size: 12px;
    background: #01161c;
    color: white;
    text-align: center;
}

.example-document-stats .label {

    font-weight: bold;
    margin-right: 5px;
}