body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;

    padding: 10px;
}

h1 {
    margin-top: 10px;
    font-size: 18px;
}

button.btn {
    font-size: 14px
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#status-table {
    max-width: 600px;
}

#status-table td {
    padding: 5px;
}
#status-table td:first-child {
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
    vertical-align: center;
}

#module-progress {
    transition: width .1s;
}

#results-csv {
    display: none;
}

.table {
    font-size: 12px;
}

table th {
    text-align: center;
}

table td.number {
    text-align: right;
}

#results-table th {
    vertical-align: middle;
}

