.employee-table {
    margin: 10px;
}

.employee-table svg {
    margin-right: 10px;
    cursor: pointer;
}

.employee-table svg:hover {
    color: cornflowerblue;
}

.brand-logo img{
    width: 64px;
    float: left;
}

nav.header ul {
    float: right;
}

.employee-form {
    margin: 20px;
    max-width: 500px;
}
.employee-form .buttons {
    text-align: right;
}

.employee-form .buttons * {
    margin-left: 10px;
}